/* picker.css */

/* Reset default styles */
html, body, h1, form, button {
	margin: 0;
	padding: 0;
}

/* Set font and background color */
body.answer-box {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh; 
	margin-top: 5vh;/* Change to 100vh to fill the entire viewport */
	/* Set font and background color */


	/* Center the heading */
	h1.option-box-header {
		text-align: center;
		margin-top: 30px;
		font-family: "Arial", sans-serif;
	}

	.answer-box {
		border: 1px solid black;
		border-radius: 20px;
		padding: 20px;
		width: 500px; /* Set to desired width */
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow */
		position: absolute; /* Add absolute positioning */
		top: 50%; /* Position from top */
		left: 50%; /* Position from left */
		transform: translate(-50%, -50%); /* Center the item */
	}

	.background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1.5);
		animation: spin 20s linear infinite;
	}
}

/* Center the heading */
h1.option-box-header {
	text-align: center;
	margin-top: 30px;
	font-family: "Arial", sans-serif;
}

.answer-box {
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
	width: 500px; /* Set to desired width */
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow */
	position: absolute; /* Add absolute positioning */
	top: 50%; /* Position from top */
	left: 50%; /* Position from left */
	transform: translate(-50%, -50%); /* Center the item */
}

.background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.5);
	animation: spin 20s linear infinite;
}


.spinninggear{
    width: 1500px;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    
    
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}