/* picker.css */

/* Reset default styles */
html, body, h1, form, button {
    margin: 0;
    padding: 0;
}

/* Set font and background color */
body.option-box {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/* Center the heading */
h1.option-box-header {
    text-align: center;
    margin-top: 30px;
    font-family: "Arial", sans-serif;
}

/* Style the buttons */
form.button-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure form takes full width of its parent */
}

button.option-box-button:hover {
    background-color: #0056b3;
    transform: scale(1.08);
    transition: transform .5s;
}

button.option-box-button:not(:hover) {
    transform: scale(1);
    transition: transform .5s;
	border: 1px solid transparent;
}

button.option-box-button:focus {
    outline: none;
    transition: transform 1s;
}

.option-box {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 500px; /* Set to desired width */
    height: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-box .button-form .buttonlist {
    width: 100%; /* Full width of form */
    list-style-type: none;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.option-box-button {
    background-color: transparent;
    color: transparent;
    transition-duration: 1s;
    transition: background-color 1s;
    font-family: "Helvetica", sans-serif;
}


.option-box:hover {
	border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 500px; /* Set to desired width */
    height: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	transition-duration: .5s;
}


.option-box:hover .option-box-button{
    width: 100%; /* Full width of its parent */
    height: 40px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
	transition-duration: 1s;
}

.option-box:hover h1.option-box-header {
    margin-top: -20px;
	transition-duration : 1s;
}


.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    animation: spin 20s linear infinite;
}

.spinninggear{
    width: 1500px;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    
    
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}