<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/answer.css') }}">
</head>
<div class="background">
    <img src="{{ url_for('static', filename='assets/gear.png') }}" class="spinninggear" alt="Gear">
</div>
<body class="answer-box">
	<h1 class= "option-box-header"> The recommended algorithm:</h1>
    <h1 class="option-box-header">{{ Algorithm }}</h1>
</body>
</body>
</html>
